// Colour variables


$color-primary: #92A763;


$color-white: #f7f7f7;
$color-black: #3E3D40;


$color-grey: #87888A;


// Header animation variables:

$path-animation-duration: 4s;

$fa-font-path: "../css/webfonts";