.contact {
    display: grid;
    grid-template-columns: minmax(4rem, 1fr) 10fr minmax(4rem, 1fr); // One central column and two buffer margins
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    row-gap: 4rem;

    &__intro {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        width: 70%;

        display: grid;
        justify-items: center;
        grid-row-gap: 4rem;

        @media only screen and (max-width: 56.25em) {
            width: 90%;
        }
        
    }

    &__social {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;

        & .social__icon {
            font-size: 2rem;
        }
    }

    &__form {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
        max-width: 70%;

        @media only screen and (max-width: 56.25em) {
            max-width: 70%;
            width: 60%;
        }

        @media only screen and (max-width: 37.5em) {
            max-width: 80%;
            width: 80%;
        }
    
        .form {

            display: grid;
            grid-template-columns: repeat(2, minmax(3rem, auto));
            grid-template-rows: repeat(4, auto);
            grid-gap: 2.5rem;

            @media only screen and (max-width: 37.5em) {
                grid-template-rows: repeat(5, auto);
            }

            &__group {

                & *:focus,
                & *:active {
                    outline: none;
                }

                & label {
                    display: none;
                }

                & input[type=text],
                & input[type=email],
                & input[type=submit],
                & textarea {
                    font-family: "Lato", sans-serif;
                    font-size: 2rem;
                    color: $color-black;
                    background-color: $color-white;
                    letter-spacing: 1px;
                    line-height: 2;
                    width: 100%;
                    outline: none;
                    border: 2px solid transparent;
                    outline: 1px solid rgba($color-black, .4);
                    padding: 0 1rem; 
                }

                & input[type=text],
                & input[type=email],
                & textarea { 
                    &:focus {
                        border: 2px solid $color-primary;
                    }
                }

                & input[type=submit] {
                    text-transform: uppercase;
                    font-size: 1.6rem;
                    box-shadow: 0 10px 6px -10px rgba($color-black, .5);
                    cursor: pointer;
                    transition: all .2s;
                    margin-top: 2rem;

                    &:hover {
                        background-color: rgba($color-black, .6);
                        color: $color-white;
                    }

                    &:active {
                        box-shadow: 0 5px 3px -10px rgba($color-black, .5);
                        transform: translateY(1px);
                    }
                }

                & textarea {
                    resize: none;
                    overflow: auto;
                    height: 8em;
                }

                & input::placeholder,
                & textarea::placeholder {
                    font-family: inherit;
                    font-size: 1.6rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: $color-primary;

                }
            }
            // Placing of the form elements on the grid
            &__group--name {
                grid-column: 1 / span 1;
                grid-row: 1 / span 1;

                @media only screen and (max-width: 56.25em) {
                    grid-column: 1 / span 2;
                }
            }

            &__group--email {
                grid-column: 2 / span 1;
                grid-row: 1 / span 1;

                @media only screen and (max-width: 56.25em) {
                    grid-row: 2 / span 1;
                    grid-column: 1 / span 2;
                }
            }

            &__group--subject {
                grid-column: 1 / span 2;
                grid-row: 2 / span 1;

                @media only screen and (max-width: 56.25em) {
                    grid-row: 3 / span 1;
                }
            }

            &__group--message {
                grid-column: 1 / span 2;
                grid-row: 3 / span 1;

                @media only screen and (max-width: 56.25em) {
                    grid-row: 4 / span 1;
                }
            }

            &__group--submit {
                grid-column: 1 / span 2;
                grid-row: 4 / span 1;
                justify-self: center;

                @media only screen and (max-width: 56.25em) {
                    grid-row: 5 / span 1;
                }
            }
        }
    }
}



