.footer {
    width: 100%;
    overflow: hidden;

    &__container {
        width: 100%;
        background-color: $color-black;
        color: $color-white;
        // A small grid to distribute content across rows and columns
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: end;
    }

    &__logo-box {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
        width: 25rem;
        align-self: start;

        display: flex;
        justify-content: center;
        align-items: center;;
    }

    &__logo {
        width: 100%;
        height: auto;
        padding: 1rem;
    
        
    }

    &__social {
        grid-column: 2 / span 1;
        grid-row: 5 / span 1;
        width: 80%;
        color: $color-white;
        margin-bottom: 1rem;
    }

    &__copyright,
    &__author {
        font-size: 1.1rem;
        letter-spacing: 1px;
        font-weight: 300;
        color: $color-white;
        margin: 1rem;
    }

    &__top-link {
        text-decoration: none;
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        font-size: 1.1rem;
        letter-spacing: 1px;
        font-weight: 300;
        color: $color-white;
        cursor: pointer;
        backface-visibility: hidden;

        &:hover .footer__arrow {
            transform: scale(2);
            //color: $color-primary;
        }
    }

    &__arrow {
        display: block;
        text-align: center;
        font-size: 2rem;
        color: $color-white;
        transition: all .2s;
        // Seems to remove a noticeable jump at the end of the transition
        backface-visibility: hidden;
    }

    &__copyright {
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
        justify-self: start;
        text-transform: uppercase;
    }

    &__author {
        grid-column: 3 / span 1;
        grid-row: 5 / span 1;
        justify-self: end;
        text-transform: uppercase;
    }
    
    
}