.portfolio {
    display: grid;
    grid-template-columns: minmax(5rem, .5fr) 9fr minmax(5rem, .5fr);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    row-gap: 7rem;

    &__intro {
        width: 60%;
        opacity: 0;
        animation: fade-in 1.5s linear 2s forwards;
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;

        display: flex;
        flex-direction: column;
        align-items: center;

        & > .heading__tertiary {
            text-align: center;
        }
    }

    &__gallery {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;

        //max-width: 90%;
    }
}