// CSS reset

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
    scroll-behavior: smooth;
}
    
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7; 
    color: $color-black;

    // display: grid;
    // justify-items: center;
}

// Sections formatting

section {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

// Typography

.heading--secondary {
    font-size: 4rem;
    text-transform: uppercase;
    color: $color-black;
    line-height: 1.2;
    letter-spacing: 4px;
    padding: 3rem;

    span {
        color: $color-primary;
        text-transform: lowercase;
        text-align: center;
    }
}

.paragraph {
    width: 60%;
    font-size: 1.8rem;
    letter-spacing: .8px;
    font-weight: 300;
    text-align: center;
}


// In Firefox, this removes the red box-shadow from required inputs
[required] {
    box-shadow: none;
}