// **** CSS reset ****

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
    scroll-behavior: smooth;
}
    
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7; 
    color: $color-black;
}

[required] {               // In Firefox, this removes the red box-shadow from required inputs
    box-shadow: none;
}

// **** Sections formatting ****

section {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

// **** Typography ****

.heading--secondary {
    font-size: 3.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-black;
    line-height: 1.6;
    letter-spacing: 4px;
    padding: 0 2rem;

    span {
        color: $color-primary;
        text-transform: lowercase;
    }
}

.heading--tertiary {
    width: 100%;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: center;
    padding: 0 2rem;
}

.paragraph {
    font-size: 1.6rem;
    font-weight: 300;
    text-align: justify;
    letter-spacing: 1px;
}




